%main
  .container
    .content-mypage-detail
      .profile-box
        = link_to '#', class: 'profile-box__link' do
          = image_tag "//static.mercdn.net/thumb/members/710038589.jpg?1552921963"
          %h2.profile-box__link__name
            名前
          .profile-box__link__number
            .profile-box__link__number__reviews
              評価
              %span
                2
            .profile-box__link__number__items
              出品数
              %span
                2
