%main
  .container
    .content-mypage-detail
      .profile-box
        = link_to '#', class: 'profile-box__link' do
          = image_tag "//static.mercdn.net/thumb/members/710038589.jpg?1552921963"
          %h2.profile-box__link__name
            名前
          .profile-box__link__number
            .profile-box__link__number__reviews
              評価
              %span
                2
            .profile-box__link__number__items
              出品数
              %span
                2
      .review-box
        .review-box__icon.review-box__icon--good
          %i.fas.fa-laugh
          .review-box__icon__number
            2
        .review-box__icon.review-box__icon--normal
          %i.fas.fa-meh
          .review-box__icon__number
            2
        .review-box__icon.review-box__icon--bad
          %i.fas.fa-frown
          .review-box__icon__number
            2
