.breadcrumbs.solideee
  .breadcrumbs__style
    - breadcrumb :logout
    = breadcrumbs separator: " #{content_tag(:i, '', class:'fas fa-chevron-right')} "
%main
  .container
    .content
      %form.form
        .content__logout
          .content__logout-btn
            %button ログアウト
        
    .side
      = render "layouts/side"
