<main>
  <div class="container">
    <div class="content">
      <h2>本人情報の登録</h2>
      <form class="form">
        <div class="content__form">
          <div>
            <p class="info">
              お客さまの本人情報をご登録ください。<br>
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            </p>
            <p class="info-icon">
              <a href="">本人確認書類のアップロードについて
                <i class="fas fa-chevron-right"></i>
              </a>
            </p>
          </div>
          <div class="content__form__list">
            <label>お名前</label>
            <p class="content__form__list-normal">名前</p>
          </div>
          <div class="content__form__list">
            <label>お名前カナ</label>
            <p class="content__form__list-normal">ナマエ</p>
          </div>
          <div class="content__form__list">
            <label>生年月日</label>
            <p class="content__form__list-normal">2019/5/27</p>
          </div>
          <div class="content__form__list">
            <label>郵便番号<span class="arbitrary">任意</span></label>
            <input type="text" placeholder="例 1234567">
          </div>
          <div class="content__form__list">
            <label>都道府県<span class="arbitrary">任意</span></label>
            <div class="select__form">
              <select>
                <option>--</option>
                <option>北海道</option>
                <option>青森県</option>
                <option>岩手県</option>
                <option>宮城県</option>
                <option>秋田県</option>
                <option>山形県</option>
                <option>福島県</option>
              </select>
              <i class="fas fa-chevron-down" id="down"></i>
            </div>
          </div>
          <div class="content__form__list">
            <label>市区町村<span class="arbitrary">任意</span></label>
            <input type="text" placeholder="例 横浜市緑区">
          </div>
          <div class="content__form__list">
            <label>番地<span class="arbitrary">任意</span></label>
            <input type="text" placeholder="例 青山1-1-1">
          </div>
          <div class="content__form__list">
            <label>建物名<span class="arbitrary">任意</span></label>
            <input type="text" placeholder="例 柳ビル103">
          </div>
          <button class="form-btn" type="submit">登録する</button>
          <div class="content__form__btm">
            <a href="">本人情報の登録について
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </form>
    </div>
    <div class="side">
      <ul class="side__mypage">
        <li class="side__mypage-top">
          <a href="">マイページ<i class="fas fa-chevron-right"></i></a>
        </li>
        <li><a href="">お知らせ<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">やることリスト<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">いいね！一覧<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">出品する<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">出品した商品-出品中<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">出品した商品-取引中<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">出品した商品-売却済み<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">購入した商品-取引中<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">購入した商品-過去の取引<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">ニュース一覧<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">ニュース一覧<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">ガイド<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">お問い合わせ<i class="fas fa-chevron-right"></i></a></li>
      </ul>
      <ul class="side__mypage">
        <h3>メルペイ</h3>
        <li><a href="">売上・振込申請<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">ポイント<i class="fas fa-chevron-right"></i></a></li>
      </ul>
      <ul class="side__mypage">
        <h3>設定</h3>
        <li><a href="">プロフィール<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">発送元・お届け先住所変更<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">支払い方法<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">メール/パスワード<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">電話番号の確認<i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">ログアウト<i class="fas fa-chevron-right"></i></a></li>
      </ul>
    </div>
  </div>
</main>
