%main
  .container
    .content
      .maypage-user-icon
        = link_to '#', class: 'user-detail-link' do
          %figure.user-detail-link__image
            = image_tag "//static.mercdn.net/thumb/members/710038589.jpg?1552921963"
          %h2.user-detail-link__name
            名前
          .user-detail-link__number
            .user-detail-link__number__reviews
              評価
              %span
                2
            .user-detail-link__number__items
              出品数
              %span
                2
      .tab-container
        %ul.notification-todo-tabs
          %li.notification-todo-tabs__tab.notification-todo-tabs__tab--notification.notification-todo-tabs__tab--active
            お知らせ
          %li.notification-todo-tabs__tab.notification-todo-tabs__tab--todo
            やることリスト
    .side
      = render "mypages/side"
