<html>
  <head></head>
  <body class>
    <div class="default-container">
      <header class="pc-header visible-pc"></header>
      <nav class="bread-crumbs">
        <ul>
          <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="https://www.mercari.com/jp/" itemprop="url">
              <span itemprop="title">メルカリ</span>
            </a>
            <i class="icon-arrow-right"></i>
          </li>
          <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <span itemprop="title">送込 アーコール ERCOL オーバル バタフライテーブル ダイニングテーブル</span>
          </li>
        </ul>
        <!-- ::after -->
      </nav>

      <section class="item-box-container l-single-container">
        <h1 class="item-name">送込 アーコール ERCOL オーバル バタフライテーブル ダイニングテーブル</h1>
        <div class="item-main-content clearfix">
          <div class="item-photo">
            <div class="owl-carousel owl-loaded owl-drag">
              <div class="owl-stage-outer">
                <div class="owl-stage" style="width:3000px; left: 0px;">
                  <div class="owl-item active" style="width: 300px">
                    <div class="owl-item-inner">
                      <img data-src="https://static.mercdn.net/item/detail/orig/photos/m63068742751_1.jpg?1559009797" alt="送込 アーコール ERCOL オーバル バタフライテーブル ダイニングテーブル" class="owl-lazy" src="https://static.mercdn.net/item/detail/orig/photos/m63068742751_1.jpg?1559009797" style="opacity: 1;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-nav disabled"></div>
              <div class="owl-dots">
                <div class="owl-dot active">
                  <span></span>
                  <div class="owl-dot-inner">
                    <img src="https://static.mercdn.net/item/detail/orig/photos/m63068742751_1.jpg?1559009797" class="">
                  </div>
                </div>
              </div>
            </div>
          <table class="item-detail-table">
            <tbody>
              <tr>
                  <th>出品者</th>
                  <td>
                    <a href="https://www.mercari.com/jp/u/577694655/">roccaヴィンテージ</a>
                    <div>
                        <div class="item-user-ratings">
                          <i class="icon-good"></i>
                          <span>52</span>
                        </div>
                        <div class="item-user-ratings">
                          <i class="icon-normal"></i>
                          <span>0</span>
                        </div>
                          <div class="item-user-ratings">
                            <i class="icon-bad"></i>
                            <span>0</span>
                        </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>カテゴリー</th>
                  <td>
                              <a href="https://www.mercari.com/jp/category/4/"><div>インテリア・住まい・小物</div></a>
                                          <a href="https://www.mercari.com/jp/category/61/">
                        <div class="item-detail-table-sub-category"><i class="icon-arrow-right"></i> 机/テーブル</div>
                      </a>
                              <a href="https://www.mercari.com/jp/category/576/">
                      <div class="item-detail-table-sub-sub-category"><i class="icon-arrow-right"></i> ダイニングテーブル</div>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th>ブランド</th>
                    <td>
                                </td>
                </tr>
                      <tr>
                  <th>商品の状態</th>
                  <td>やや傷や汚れあり</td>
                </tr>
                <tr>
                  <th>配送料の負担</th>
                  <td>送料込み(出品者負担)</td>
                </tr>
                <tr>
                  <th>配送の方法</th>
                  <td>未定</td>
                </tr>
                        <tr>
                    <th>配送元地域</th>
                    <td><a href="https://www.mercari.com/jp/area/14/">神奈川県</a></td>
                  </tr>
                
                        <tr>
                    <th>発送日の目安</th>
                    <td>4~7日で発送</td>
                  </tr>
            </tbody>
          </table>
          <div class="item-price-box test-center ">
              <span class="item-price bold">¥ 94,000</span>
              <span class="item-tax"> (税込)</span>
              <span class="item-shipping-fee">送料込み</span>
          </div>
          <a href="https://www.mercari.com/jp/transaction/buy/m63068742751/?_s=U2FsdGVkX18wT322cpCXMXkYrnnaI_P6l9d4UH5jbRhTA1-brPi2vXHxm2EAyt2YxAvg12o7BngAQ80S761yftv13jDIjyiOc7jZAOXtaqOuY7yM9wPJooqTGPQrRRvu" class="item-buy-btn f18-24" data-client="hidden">購入画面に進む</a>
          </div>
          <div class="item-description f14">
              <p class="item-description-inner">サイズ（単位mm）
          
          幅 215-815-1410 奥行き 1280 高さ 720
          ＊若干の誤差は御了承下さい。
          
          主な素材 - エルム材 - ビーチ材
          
          特記事項 - 脚分解不可 - ゲートレッグバタフライテーブルのみの出品です
          
          
          1920年創業 イギリスの老舗家具メーカーERCOL(アーコール)社による、ヴィンテージ ゲートレッグバタフライテーブルです。
          
          ウィングの部分を広げると楕円のテーブルトップになり、たたむと細い長方形になります。たたんだ状態はコンパクトなので場所を取らず、収納場所に困りません。片側だけたたむ事も可能です。パーティーなどでお客様が見えたりする時には広げて、普段お使いの際にはコンパクトにたたんで使用するなど、シチュエーションで使い分ける事ができるテーブルです。
          
          ゲートレッグテーブル
          イギリスでは16世紀に入り、来客時に対応できる伸長式のテーブルが登場。その中でも、拡張板を支える脚が門のように開閉しながら出てくるものは、ゲートレッグテーブルと呼ばれ、今でもイギリスの家庭ではお馴染みの家具です。
          
          
          
          他サイトでも併売していますので同じタイミングで売れてしまった場合取引をキャンセルして頂く場合があります。
          北海道、沖縄は他地域と大きく送料が異なるため販売価格が変わります。ご購入の際には金額を変更させていただきますのでコメントにて一報をお願いいたします。
          北海道沖縄地域でコメントなしでご購入された場合はキャンセルとなります。
          34234</p>
          </div>
          <div class="item-button-container clearfix">
              <div class="item-button-left">
                <button type="button" name="like!" data-toggle="like" data-id="m63068742751" data-ga="element" data-ga-category="LIKE" data-ga-label="like!" class="item-button item-button-like">
                  <i class="icon-like-border"></i>
                  <span>いいね!</span>
                  <span data-num="like" class="fade-in-down">12</span>
                </button>
                <a href="" data-modal="report-item" data-open="modal" class="item-button item-button-report clearfix">
                  <i class="icon-flag"></i>
                  <span>不適切な商品の報告</span>
                </a>
                <input type="hidden" name="like_add_url" value="https://www.mercari.com/jp/like/add/m63068742751/?_s=U2FsdGVkX18wT322cpCXMXkYrnnaI_P6l9d4UH5jbRhTA1-brPi2vXHxm2EAyt2YxAvg12o7BngAQ80S761yftv13jDIjyiOc7jZAOXtaqOuY7yM9wPJooqTGPQrRRvu">
                <input type="hidden" name="like_del_url" value="https://www.mercari.com/jp/like/delete/m63068742751/?_s=U2FsdGVkX18wT322cpCXMXkYrnnaI_P6l9d4UH5jbRhTA1-brPi2vXHxm2EAyt2YxAvg12o7BngAQ80S761yftv13jDIjyiOc7jZAOXtaqOuY7yM9wPJooqTGPQrRRvu">
                <input type="hidden" name="__csrf_value" value="a656cf4136c27e3f4679599ba22095169734e84c821e5d11ae7d333edd089f773920fbeee4d4eef4f0be34d88c3cdeeafabf33b64133c2b523282df0719374547">
              </div>
              <div class="item-button-right">
                <a href="https://www.mercari.com/jp/safe/description/" target="_blank">
                  <i class="icon-lock"></i>
                  <span>あんしん・あんぜんへの取り組み</span>
                </a>
              </div>
            </div>
        </div>
      </section>
    </div>
  </body>
</html>