
<body class="">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<div class="default-container ">
          <header class="sp-header visible-sp">
  </header>

<header class="pc-header visible-pc">

</header>

<nav class="bread-crumbs">


</nav>

      <section class="item-box-container l-single-container">

  <h1 class="item-name">正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ</h1>
    <div class="item-main-content clearfix">
    <div class="item-photo">
      <div class="owl-carousel owl-loaded owl-drag">

                                                                                                                                    <div class="owl-stage-outer"><div class="owl-stage" style="left: -300px; width: 1200px;"><div class="owl-item" style="width: 300px;"><div class="owl-item-inner">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823" alt="正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ" class="owl-lazy" src="https://static.mercdn.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823" style="opacity: 1;">
            </div></div><div class="owl-item active" style="width: 300px;"><div class="owl-item-inner">
              <%# <img data-src="https://static.mercdn.net/item/detail/orig/photos/m70068440240_2.jpg?1539045823" alt="正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ" class="owl-lazy" src="https://static.mercdn.net/item/detail/orig/photos/m70068440240_2.jpg?1539045823" style="opacity: 1;">
            </div></div><div class="owl-item" style="width: 300px;"><div class="owl-item-inner is-higher-width">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m70068440240_3.jpg?1539045823" alt="正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ" class="owl-lazy">
            </div></div><div class="owl-item" style="width: 300px;"><div class="owl-item-inner is-higher-width">
              <img data-src="https://static.mercdn.net/item/detail/orig/photos/m70068440240_4.jpg?1539045823" alt="正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ" class="owl-lazy">
            </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot"><span></span>
            <div class="owl-dot-inner"> %>
              <img src="https://static.mercdn.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823" class="">
          </div></div><div class="owl-dot active"><span></span>
            <%# <div class="owl-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m70068440240_2.jpg?1539045823" class="">
          </div></div><div class="owl-dot"><span></span>
            <div class="owl-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m70068440240_3.jpg?1539045823" class="is-higher-width">
          </div></div><div class="owl-dot"><span></span>
            <div class="owl-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m70068440240_4.jpg?1539045823" class="is-higher-width">
          </div></div></div></div>
              <div class="item-sold-out-badge"><div>SOLD</div></div>
          </div> %>

          <div class="item-price-box text-center visible-sp">
        <span class="item-price bold">¥ 3,380</span>
        <span class="item-tax"> (税込)</span>
                  <span class="item-shipping-fee">送料込み</span>
              </div>
            <section class="visible-sp">
                                                        <div class="item-buy-btn disabled f18-24">売り切れました</div>

                                  </section>
        <table class="item-detail-table">
      <tbody><tr>
        <th>出品者</th>
        <td>
          <a href="https://www.mercari.com/jp/u/387561164/">BOON90sリバイバル@フォロー割</a>
          <div>
                          <div class="item-user-ratings">
                <i class="icon-good"></i>
                <span>924</span>
              </div>
                          <div class="item-user-ratings">
                <i class="icon-normal"></i>
                <span>27</span>
              </div>
                          <div class="item-user-ratings">
                <i class="icon-bad"></i>
                <span>4</span>
              </div>
                      </div>
        </td>
      </tr>
      <tr>
        <th>カテゴリー</th>
        <td>
                    <a href="https://www.mercari.com/jp/category/1/"><div>レディース</div></a>
                                <a href="https://www.mercari.com/jp/category/20/">
              <div class="item-detail-table-sub-category"><i class="icon-arrow-right"></i> バッグ</div>
            </a>
                    <a href="https://www.mercari.com/jp/category/214/">
            <div class="item-detail-table-sub-sub-category"><i class="icon-arrow-right"></i> ショルダーバッグ</div>
          </a>
        </td>
      </tr>
      <tr>
        <th>ブランド</th>
          <td>
                          <a href="https://www.mercari.com/jp/brand/539/">
                <div>
                  コーチ
                </div>
              </a>
                      </td>
      </tr>
            <tr>
        <th>商品の状態</th>
        <td>やや傷や汚れあり</td>
      </tr>
      <tr>
        <th>配送料の負担</th>
        <td>送料込み(出品者負担)</td>
      </tr>
      <tr>
        <th>配送の方法</th>
        <td>らくらくメルカリ便</td>
      </tr>
              <tr>
          <th>配送元地域</th>
          <td><a href="https://www.mercari.com/jp/area/28/">兵庫県</a></td>
        </tr>
      
              <tr>
          <th>発送日の目安</th>
          <td>1~2日で発送</td>
        </tr>
      
          </tbody></table>
  </div>

    <div class="item-price-box text-center">
    <span class="item-price bold">¥ 3,380</span>
    <span class="item-tax"> (税込)</span>
          <span class="item-shipping-fee">送料込み</span>
      </div>

                            <div class="item-buy-btn disabled f18-24">売り切れました</div>
      
          
    <div class="item-description f14">
    <p class="item-description-inner">text</p>
  </div>

    <div class="item-button-container clearfix">
      <div class="item-button-left">
                            <button type="button" name="like!" data-toggle="like" data-id="m70068440240" data-ga="element" data-ga-category="LIKE" data-ga-label="like!" class="item-button item-button-like">
            <i class="icon-like-border"></i>
            <span>いいね!</span>
            <span data-num="like" class="fade-in-down">7</span>
          </button>

                    <a href="" data-modal="report-item" data-open="modal" class="item-button item-button-report clearfix">
            <i class="icon-flag"></i>
            <span>不適切な商品の報告</span>
          </a>
          <input type="hidden" name="like_add_url" value="https://www.mercari.com/jp/like/add/m70068440240/">
          <input type="hidden" name="like_del_url" value="https://www.mercari.com/jp/like/delete/m70068440240/">
          <input type="hidden" name="__csrf_value" value="a656cf4136c27e3f4679599ba22095169734e84c821e5d11ae7d333edd089f773920fbeee4d4eef4f0be34d88c3cdeeafabf33b64133c2b523282df0719374547">
              </div>
      <div class="item-button-right">
        <a href="https://www.mercari.com/jp/safe/description/" target="_blank">
          <i class="icon-lock"></i>
          <span>あんしん・あんぜんへの取り組み</span>
        </a>
      </div>
    </div>
</section>


<div class="item-detail-message">
  <div class="message-container">
      <div class="message-content">
      <ul class="message-items">

                  <li class="clearfix">
                          <a href="https://www.mercari.com/jp/u/603899392/" class="message-user">
                <figure>
                                    <div>
                    <img src="//static.mercdn.net/images/member_photo_noimage_thumb.png" alt="">
                  </div>
                                    <figcaption class="bold">
                    アワチン
                  </figcaption>
                </figure>
                                              </a>
                        <div class="message-body">
              <div class="message-body-text">はじめまして。ずっと、気になっているのですが・・・こちらのバッグの『多少の汚れ』とは、パッと見る限り、目立たない程度なのですか？皮の白いところは画像でわかるのですが、全体の感じがわからなかったので、質問してみました。</div>
              <div class="message-icons clearfix">
                                <time class="message-icon-left">
                  <i class="icon-time"></i>
                  <span>190 日前</span>
                </time>
                                  <div class="message-icon-right">
                                                              <form action="https://www.mercari.com/jp/comment/report/m70068440240/1854262556/" method="POST">
                        <button type="submit"><i class="icon-flag"></i></button>
                                                  <input type="hidden" name="redirect_url_key" value="item_detail">
                                              </form>
                                                                              </div>
                              </div>
              <i class="icon-balloon"></i>
            </div>
          </li>
                  <li class="clearfix">
                          <a href="https://www.mercari.com/jp/u/387561164/" class="message-user">
                <figure>
                                    <div>
                    <img src="//static.mercdn.net/thumb/members/387561164.jpg?1553790005" alt="">
                  </div>
                                    <figcaption class="bold">
                    BOON90sリバイバル@フォロー割
                  </figcaption>
                </figure>
                                                  <div class="message-is-seller ">出品者</div>
                              </a>
            
                        <div class="message-body">
              <div class="message-body-text">おまたせしました。<br>
先ほど確認しましたところ、画像にある底部に若干の汚れが見られる程度で、後はそれといって汚れはございませんでした。<br>
よろしくお願いします。</div>
              <div class="message-icons clearfix">
                                <time class="message-icon-left">
                  <i class="icon-time"></i>
                  <span>188 日前</span>
                </time>
                                  <div class="message-icon-right">
                                                              <form action="https://www.mercari.com/jp/comment/report/m70068440240/1856581548/" method="POST">
                        <button type="submit"><i class="icon-flag"></i></button>
                                                  <input type="hidden" name="redirect_url_key" value="item_detail">
                                              </form>
                                                                              </div>
                              </div>
              <i class="icon-balloon"></i>
            </div>
          </li>
                  <li class="clearfix">
                          <a href="https://www.mercari.com/jp/u/603899392/" class="message-user">
                <figure>
                                    <div>
                    <img src="//static.mercdn.net/images/member_photo_noimage_thumb.png" alt="">
                  </div>
                                    <figcaption class="bold">
                    アワチン
                  </figcaption>
                </figure>
                                              </a>
            
                        <div class="message-body">
              <div class="message-body-text">ありがとうございます。<br>
購入したいなと思います。</div>
              <div class="message-icons clearfix">
                                <time class="message-icon-left">
                  <i class="icon-time"></i>
                  <span>188 日前</span>
                </time>
                                  <div class="message-icon-right">
                                                              <form action="https://www.mercari.com/jp/comment/report/m70068440240/1856649020/" method="POST">
                        <button type="submit"><i class="icon-flag"></i></button>
                                                  <input type="hidden" name="redirect_url_key" value="item_detail">
                                              </form>
                                                                              </div>
                              </div>
              <i class="icon-balloon"></i>
            </div>
          </li>
              </ul>
    </div>
  
            <div class="message-content">


      <form action="https://www.mercari.com/jp/comment/add/" method="POST" class="message-form">
        
        <p>相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。</p>
        <input type="hidden" name="item_id" value="m70068440240">
                  <input type="hidden" name="redirect_url_key" value="item_detail">
                <textarea type="text" name="body" value="" class="textarea-default" disabled=""></textarea>

        
        
        <button type="submit" class="message-submit btn-default btn-gray" disabled="">
                      <span>売り切れのためコメントできません</span>
                  </button>
      </form>
    </div>
        

  <aside class="modal" data-modal="delete-comment" data-close="modal">
    <div class="modal-inner modal-banner">
      <div class="modal-body">
        <div class="modal-head bold">確認</div>
        <div data-comment="body"></div>
        <br>
        本当にこのコメントを削除してよろしいですか？
      </div>

      <form action="https://www.mercari.com/jp/comment/delete/" method="POST">
        <div class="clearfix">
          <div class="modal-btn modal-btn-cancel" data-close="modal">キャンセル</div>
          <button type="submit" class="modal-btn modal-btn-submit">
            削除する
          </button>
        </div>
        <input type="hidden" name="item_id" value="m70068440240">
        <input type="hidden" name="comment_id" value="">
                  <input type="hidden" name="redirect_url_key" value="item_detail">
                <input type="hidden" name="__csrf_value" value="a656cf4136c27e3f4679599ba22095169734e84c821e5d11ae7d333edd089f773920fbeee4d4eef4f0be34d88c3cdeeafabf33b64133c2b523282df0719374547">
      </form>

    </div>
  </aside>









  </div>
</div>
<%# 
  <ul class="nav-item-link-prev-next clearfix">
          <li class="nav-item-link-prev">
        <a href="https://item.mercari.com/jp/m96620691686/"><i class="icon-arrow-left"></i>ディズニーヴィランズ 2個セット バッジ バッチ Villains 2018</a>
      </li>
              <li class="nav-item-link-next">
        <a href="https://item.mercari.com/jp/m21479793716/">楽天パンダ ノート&amp;マスキングテープセット<i class="icon-arrow-right"></i></a>
      </li>
      </ul>

<div class="item-social-media-box">
  <div class="text-center">
              <div class="fb-save fb_iframe_widget" data-uri="product://113299479059860/m70068440240" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=466308336793848&amp;container_width=700&amp;locale=ja_JP&amp;sdk=joey&amp;uri=product%3A%2F%2F113299479059860%2Fm70068440240"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f2097a60374da8" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:save Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/save.php?app_id=466308336793848&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df3fe19d49ef473c%26domain%3Ditem.mercari.com%26origin%3Dhttps%253A%252F%252Fitem.mercari.com%252Ff262cc09fc16db%26relation%3Dparent.parent&amp;container_width=700&amp;locale=ja_JP&amp;sdk=joey&amp;uri=product%3A%2F%2F113299479059860%2Fm70068440240" style="border: none; visibility: visible; width: 0px; height: 0px;"></iframe></span></div>
      </div>
  <ul class="social-media-box">
    <li>
      <a href="http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm70068440240%2F" target="_blank" class="share-btn" data-window-name="facebook_window">
        <i class="icon-facebook"></i>
      </a>
    </li>
    <li>
      <a href="http://twitter.com/share?count=horizontal&amp;original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm70068440240%2F&amp;text=%E6%AD%A3%E8%A6%8F%E5%93%81%EF%BC%81COACH%E3%80%90%E3%82%B3%E3%83%BC%E2%80%A6%20%28%C2%A5%203%2C380%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm70068440240%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89" target="_blank" class="share-btn" data-window-name="twitter_window">
        <i class="icon-twitter"></i>
      </a>
    </li>
                <li class="social-hidden-item">
        <a href="http://line.me/R/msg/text/?正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ%20%7C%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%0D%0Ahttps://item.mercari.com/jp/m70068440240/" target="_blank">
          <i class="icon-line"></i>
        </a>
      </li>
        <li>
      <a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm70068440240%2F&amp;media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm70068440240_1.jpg%3F1539045823&amp;description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20%E6%AD%A3%E8%A6%8F%E5%93%81%EF%BC%81COACH%E3%80%90%E3%82%B3%E3%83%BC%E3%83%81%E3%80%91%E2%98%85%E2%98%85%E5%A4%A7%E3%81%8D%E3%82%81%20%E3%83%9F%E3%83%8B%E3%82%B7%E3%82%B0%E3%83%8D%E3%83%81%E3%83%A3%E3%83%BC%20%E3%82%B7%E3%83%A7%E3%83%AB%E3%83%80%E3%83%BC%E3%83%90%E3%83%83%E3%82%B0%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA" target="_blank" class="share-btn" data-window-name="pinterest_window">
        <i class="icon-pinterest"></i>
      </a>
    </li>
  </ul>
</div>

<div class="items-in-user-profile">
    <section class="items-box-container clearfix items-box-overflow items-in-user-profile">
            <h2 class="items-box-head">
    <a href="https://www.mercari.com/jp/u/387561164/">BOON90sリバイバル@フォロー割さんのその他の出品</a>
  </h2>
    
    <div class="items-box-content clearfix">
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m58276874458/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m58276874458_1.jpg?1557504685" class=" is-higher-height lazyloaded" alt="日本未入荷!! 新品 BLACKTAILOR C1 CARGO 30  BK" src="https://static.mercdn.net/thumb/photos/m58276874458_1.jpg?1557504685">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">日本未入荷!! 新品 BLACKTAILOR C1 CARGO 30  BK</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 14,600</div>
                                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>25</span>
                  </div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m56201537057/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m56201537057_1.jpg?1558907150" class=" lazyloaded" alt="古着 KLEIN PLUS HOMME 襟付きレイヤードポロシャツ 黒" src="https://static.mercdn.net/thumb/photos/m56201537057_1.jpg?1558907150">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">古着 KLEIN PLUS HOMME 襟付きレイヤードポロシャツ 黒</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 2,500</div>
                                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>2</span>
                  </div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m12451874459/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m12451874459_1.jpg?1558906102" class=" lazyloaded" alt="古着90s L.L.Bean 美品 ボーダー柄ポロシャツ シャンブレー" src="https://static.mercdn.net/thumb/photos/m12451874459_1.jpg?1558906102">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">古着90s L.L.Bean 美品 ボーダー柄ポロシャツ シャンブレー</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 5,800</div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m83543337341/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m83543337341_1.jpg?1558903528" class=" lazyloaded" alt="Used アディダス 美品 ハーフジップ サイクリングウェア レディース" src="https://static.mercdn.net/thumb/photos/m83543337341_1.jpg?1558903528">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">Used アディダス 美品 ハーフジップ サイクリングウェア レディース</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 1,800</div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m33317574448/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m33317574448_1.jpg?1558897449" class=" lazyloaded" alt="古着90s PEARL iZUMi USAデカロゴ ポロシャツ スポーツMIX" src="https://static.mercdn.net/thumb/photos/m33317574448_1.jpg?1558897449">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">古着90s PEARL iZUMi USAデカロゴ ポロシャツ スポーツMIX</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 1,500</div>
                                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>1</span>
                  </div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m91081000236/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m91081000236_1.jpg?1544717452" class=" lazyloaded" alt="古着90s アディダス 良品 ゆるだぼ コーチジャケット 黒 スポーツMIX" src="https://static.mercdn.net/thumb/photos/m91081000236_1.jpg?1544717452">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">古着90s アディダス 良品 ゆるだぼ コーチジャケット 黒 スポーツMIX</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 6,100</div>
                                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>4</span>
                  </div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
          </div>

                </section>

        <section class="items-box-container clearfix items-box-overflow">
            <h2 class="items-box-head">
    <a href="https://www.mercari.com/jp/brand/539/214/">
      コーチのショルダーバッグ その他の商品
    </a>
  </h2>
    
    <div class="items-box-content clearfix">
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m82071361285/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m82071361285_1.jpg?1513831054" class=" lazyloaded" alt="【送料込み】COACH ショルダーバッグ" src="https://static.mercdn.net/thumb/photos/m82071361285_1.jpg?1513831054">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">【送料込み】COACH ショルダーバッグ</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 6,999</div>
                                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>2</span>
                  </div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m12648603930/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m12648603930_1.jpg?1552212830" class=" lazyloaded" alt="お値下げ COACH ショルダーバック 2WAY" src="https://static.mercdn.net/thumb/photos/m12648603930_1.jpg?1552212830">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">お値下げ COACH ショルダーバック 2WAY</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 6,999</div>
                                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>18</span>
                  </div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m93463034071/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m93463034071_1.jpg?1558940038" class=" lazyloaded" alt="COACH コーチ ショルダーバッグ" src="https://static.mercdn.net/thumb/photos/m93463034071_1.jpg?1558940038">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">COACH コーチ ショルダーバッグ</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 4,500</div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m29887592526/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m29887592526_1.jpg?1558235028" class=" lazyloaded" alt="コーチ 新品未使用" src="https://static.mercdn.net/thumb/photos/m29887592526_1.jpg?1558235028">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">コーチ 新品未使用</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 14,200</div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m65793192322/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m65793192322_1.jpg?1558569920" class=" is-higher-width lazyloaded" alt="【破格】COACH　ショルダーバック" src="https://static.mercdn.net/thumb/photos/m65793192322_1.jpg?1558569920">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">【破格】COACH　ショルダーバック</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 3,600</div>
                                  <div class="font-2">
                    <i class="icon-like-border"></i>
                    <span>2</span>
                  </div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
              <section class="items-box">
          <a href="https://item.mercari.com/jp/m16577748460/">
            <figure class="items-box-photo">
              <img data-src="https://static.mercdn.net/thumb/photos/m16577748460_1.jpg?1558704241" class=" is-higher-height lazyloaded" alt="COACH  コーチ ショルダーバック 使いやすい おすすめ お洒落" src="https://static.mercdn.net/thumb/photos/m16577748460_1.jpg?1558704241">
                          </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2">COACH  コーチ ショルダーバック 使いやすい おすすめ お洒落</h3>
              <div class="items-box-num">
                <div class="items-box-price font-5">¥ 9,700</div>
                              </div>
                              <p class="item-box-tax">(税込)</p>
                          </div>
          </a>
        </section>
          </div>

                </section>
  </div> %>




  <aside class="modal" data-modal="report-item" data-close="modal">
    <div class="modal-inner modal-banner">
      <div class="modal-body">
        <div class="modal-head bold">確認</div>
        不適切な商品を報告しますか？
      </div>
      <div class="clearfix">
        <div class="modal-btn modal-btn-cancel" data-close="modal">キャンセル</div>
        <a href="https://www.mercari.com/jp/report/m70068440240/">
          <button class="modal-btn modal-btn-submit">はい</button>
        </a>
      </div>
    </div>
  </aside>











            <aside class="app-banner">
      <div class="app-banner-pc">
  <div class="app-banner-pc-inner">
    <h2>スマホでかんたんフリマアプリ</h2>
    <p>今すぐ無料ダウンロード！</p>
    <div class="app-banner-icon clearfix">
      <figure>
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3160895340" width="68" alt="">
      </figure>
      <ul class="clearfix">
        <li>
          <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" target="_blank">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3160895340" alt="" width="133" height="40">
          </a>
        </li>
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" target="_blank">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3160895340" alt="" width="133" height="40">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <figure>
    <img src="//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3160895340" alt="">
  </figure>
</div>
  </aside>

<footer class="global-footer">

</footer>


          <a class="footer-sell-btn hidden" href="https://www.mercari.com/jp/sell/">
        <div>出品</div>
        <i class="icon-camera"></i>
      </a>
          <div class="custom-banner custom-banner-ios banner-pattern1 clearfix">
  <figure>
    <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/custom-banner-icon.png?3160895340" alt="Mercari app's icon" width="56">
  </figure>
  <div class="clearfix">
    <div class="banner-rating">
      <figcaption>
        iOS版メルカリ
      </figcaption>
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3160895340" alt="" width="12">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3160895340" alt="" width="12">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3160895340" alt="" width="12">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3160895340" alt="" width="12">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/star-off.png?3160895340" alt="" width="12">
      <span class="user-num">(6,698)</span>
    </div>
    <a href="http://app.adjust.io/xio2ii?campaign=iOS&amp;adgroup=installHeader.creative1" class="pattern1-install" target="_blank">インストール</a>
    <a href="" class="pattern1-open" data-toggle="open-app" data-url-scheme="mercari://" data-action="item/openDetail" data-key="id=m70068440240">アプリで開く</a>
  </div>
  <i class="icon-close"></i>
</div>

<div class="custom-banner custom-banner-android banner-pattern1 clearfix">
  <figure>
    <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/custom-banner-icon.png?3160895340" alt="Mercari app's icon" width="56">
  </figure>
  <div class="clearfix">
    <div class="banner-rating">
      <figcaption>
        Android版メルカリ
      </figcaption>
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3160895340" alt="" width="12">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3160895340" alt="" width="12">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3160895340" alt="" width="12">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3160895340" alt="" width="12">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/star-off.png?3160895340" alt="" width="12">
      <span class="user-num">(60,414)</span>
    </div>
    <a href="http://app.adjust.io/xio2ii?campaign=android&amp;adgroup=installHeader.creative1" class="pattern1-install" target="_blank">インストール</a>
    <a href="" class="pattern1-open" data-toggle="open-app" data-url-scheme="mercari://" data-action="item/openDetail" data-key="id=m70068440240">アプリで開く</a>
  </div>
  <i class="icon-close"></i>
</div>
      
  
  <div class="overlay"></div>
</div>

    <script src="//www-mercari-jp.akamaized.net/assets/js/app.js?623665728"></script>


  <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div><div><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter.php?version=44#channel=f262cc09fc16db&amp;origin=https%3A%2F%2Fitem.mercari.com" style="border: none;"></iframe></div></div></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/ja_JP/sdk/xfbml.save.js#xfbml=1&version=v2.5&appId=466308336793848"; fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  
  <script type="text/javascript">
  window.dataLayer = window.dataLayer || []
  dataLayer.push({
    'event': 'dynamic_product',
    'ecomm_pagetype': 'product',
    'ecomm_prodid': 'm70068440240',
    'ecomm_totalvalue': '3380',
    'uid': '335937972'
  });
</script>
  <script type="text/javascript">
        
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'virtual_pageview',
    'uid': '335937972',
    'trackPageview': '/jp/m70068440240/sold_out/'
  });
</script>

    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KLPT5L5');</script>
<!-- End Google Tag Manager -->





<script type="text/javascript" id="">var yahoo_ss_retargeting_id=1001057397,yahoo_sstag_custom_params=window.yahoo_sstag_params,yahoo_ss_retargeting=!0;</script>
<script type="text/javascript" id="" src="https://s.yimg.jp/images/listing/tool/cv/conversion.js"></script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://b97.yahoo.co.jp/pagead/conversion/1001057397/?guid=ON&amp;script=0&amp;disvt=false">
</div>
</noscript></body></html>