.footer{
  margin-top: auto;


  a:link { 
    color: #ccc; 
    text-decoration: none;
  }
  a:visited { 
    color: #ccc; 
    text-decoration: none;
  }
  a:hover { 
    text-decoration: underline;
  }
  a:active {  
  }

  &__top{
    height:260px;
    background: url(https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?6643835);
    background-position: center;
    background-size: cover;
    padding-bottom: 0;
    position: relative;

    &__text{
      color: #fff;
      padding-left: 23%;
      padding-top: 65px;
      display: inline-block;
      position: absolute;

      &__small{
        font-size: 23px;
        font-weight: bold;
      }

      &__big{
        font-size: 33px;
      }
    }
    &__logo{
      padding-left:10%;
      padding-top:160px;
      display : inline-block;
      position: absolute;
      left:13%;
    }

    &__app{
      display:inline-block;
      bottom:60px;
      left: 32%;
      padding-left:34%;
      padding-top:173px;
    }

    &__google{
      display:inline-block;
      bottom:60px;
      margin-left:8px;
      padding-top:173px;
    }

    &__phone{
      display : inline;
      position: absolute;
      padding-left:50px;
      top:0;
    }
  }

  &__bottom{
    height:400px;
    background: #212121;
    color: #fff;
    position: relative;

    h1{
      color: #fff;
      font-size: 16px;
      font-weight: 100;
      line-height: 33px;
    }

    li{
      color: #ccc; 
      font-size: 12px;
      font-weight: 100;
      line-height: 33px;
    }

    &__tw-icon{
      // position: relative;
      margin-left:14%;
      margin-top: 230px;
      font-size: 30px;
      padding-right: 20px;
    }

    &__fb-icon{
      // position: relative;
      margin-top: 230px;
      font-size: 30px;
      padding-right: 20px;
      font-size: 30px;
    }
    
    &__company{
      position: absolute;
      padding-top: 12px;
      padding-left: 14%;
    }

    &__privacy{
      position: absolute;
      padding-top: 12px;
      padding-left: 44%;
    }

    &__data{
      padding-top: 43px;
      padding-left: 58%;
      position: absolute;
    }

    &__guide{
      padding-top: 12px;
      padding-left: 28%;
      position: absolute;
    }

    &__country{
      padding-top: 12px;
      padding-left: 75%;
      position: absolute;
    }

    &__logo{
      padding-top: 73px;
      padding-left: 14%;
      position: absolute;
    }

    &__log{
      display: inline-block;
      position:absolute;
      left: 48%;
      bottom:44px;
      font-size:10px;
    }
  }
}

