.search-container {
  margin: 40px 36px 0;
  display: flex;
  .result-content {
    width: 700px;
    .item-box-container {
      .item-box-head {
        font-size: 22px;
        margin-bottom: 8px;
        font-weight: 700;
        color: #333;
      }
      .search-result-number {
        height: 12px;
        margin: 16px 0;
        font-size: 12px;
        color: #888;
      }
      .item-box-content {
        display: flex;
        flex-wrap: wrap;
        .item-box {
          height: 270px;
          width: 160px;
          margin: 0 20px 20px 0;
          &__link {
            text-decoration: none;
            color: #333;
            &__photo {
              margin: 0;
              img {
                height: 160px;
                width: 160px;
                object-fit: cover;
              }
            }
            &__body {
              height: 110px;
              width: 160px;
              padding: 16px;
              box-sizing: border-box;
              background-color: #fff;
              &__name {
                height: 48px;
                font-size: 16px;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
              }
              &__number {
                display: flex;
                height: 16px;
                margin-top: 8px;
                line-height: 16px;
                &__price {
                  margin-right: auto;
                  font-weight: bold;
                }
                i {
                  color: #ccc;
                  margin-right: 2px;
                }
              }
              &__tax {
                font-size: 10px;
              }
            }
          }
          &:nth-of-type(4n) {
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }
  .search-content {
    width: 280px;
    margin-right: 40px;
    .search-form {
      &__item-sort {
        &__pull-down {
          position: relative;
          &__select {
            -webkit-appearance: none;
            -moz-appearance: none;
            display: block;
            width: 280px;
            height: 48px;
            padding: 0 16px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
            color:gray;
          }
          &__icon{
            position: absolute;
            font-size: 18px;
            right: 22px;
            top: 17px;
            color: #888;
            margin-left: 190px;
          }  
        }
      }
      &__detail {
        padding: 16px;
        margin-top: 40px;
        box-sizing: border-box;
        background-color: #fff;
        &__head {
          color: #333;
          font-size: 16px;
          font-weight: bold;
        }
        &__keyword {
          @include search-input-form;
          margin-top: 24px;
        }
        &__category {
          @include search-select-form;
          @include collection-check-boxes;
        }
        &__brand {
          @include search-input-form;
        }
        &__size {
          @include search-select-form;
        }
        &__price {
          @include search-select-form;
          &__inputs {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            &__min {
              display: block;
              height: 48px;
              width: 45%;
              padding: 10px 16px 8px;
              box-sizing: border-box;
              border: 1px solid #ccc;
              border-radius:6px;
            }
            &__wave {
              align-self: center;
            }
            &__max {
              display: block;
              height: 48px;
              width: 45%;
              padding: 10px 16px 8px;
              box-sizing: border-box;
              border: 1px solid #ccc;
              border-radius:6px;
            }
          }
        }
        &__condition {
          @include search-label;
          @include collection-check-boxes;
        }
        &__postage {
          @include search-label;
          @include collection-check-boxes;
        }
        &__sale {
          @include search-label;
          @include collection-check-boxes;
        }
        &__button {
          padding-top: 40px;
          display: flex;
          justify-content: space-between;
          &__clear {
            @include search-clear-button;
          }
          &__submit {
            @include search-clear-button;
            background-color: #ea352d;
            border: 1px solid #ea352d;
          }
        }
      }
    }
  }
}
