@mixin list-none {
  height: 236px;
  background: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?17794984);
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 78px 85px;
  background-color: #fff;
  padding: 160px 0 60px;
  box-sizing: border-box;
  text-align: center;
  color: #ccc;
}

@mixin buy-item-list {
  min-height: 80px;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  &__link {
    text-decoration: none;
    &__image {
      height: 48px;
      width: 48px;
      margin: 0;
      float: left;
      img {
        height: 48px;
        width: 48px;
        object-fit: cover;
      }
    }
    &__body {
      margin: 0 40px 0 68px;
      font-size: 14px;
      color: #333;
      &__status {
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        background-color: #888;
        margin: 8px 0 0;
        padding: 5px 6px;
        border-radius: 2px;
        line-height: 12px;
      }
      i.fa-chevron-right {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translate(0, -50%);
      }
    }
  }
  &:hover {
    background-color: #fafafa;
  }
}

@mixin mypages-tab-two {
  display: flex;
  &__tab {
    height: 74px;
    width: 50%;
    line-height: 74px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-sizing:border-box;
    background-color: #eee;
    &:hover {
      opacity: 0.7;
    }
    &--active {
      background-color: #fff;
      border-top: 2px solid #ea352d;
    }
  }
}
@mixin search-label {
  margin-top: 40px;
  &__label {
    display: flex;
    &__icon {
      color: #888;
      font-size: 18px;
      margin-right: 4px;
    }
    &__text {
      font-size: 14px;
      line-height: 18px;
      font-weight: bold;
    }
  }
}

@mixin search-input-form {
  @include search-label;
  &__input {
    height:50px;
    width: 250px;
    margin-top: 8px;
    padding: 10px 16px 8px;
    border-radius:6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
}

@mixin search-select-form {
  @include search-label;
  &__pull-down {
    position: relative;
    &--child {
      display: none;
    }
    &__select {
      -webkit-appearance: none;
      -moz-appearance: none;
      display: block;
      width: 250px;
      height: 48px;
      margin-top: 8px;
      padding: 0 16px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
      color:gray;
      box-sizing: border-box;
    }
    &__icon{
      position: absolute;
      font-size: 18px;
      right: 22px;
      top: 17px;
      color: #888;
      margin-left: 190px;
    }
  }
}

@mixin collection-check-boxes {
  &__block {
    display: flex;
    flex-wrap: wrap;
    &__check-boxes {
      display: none;
      &:checked + .check-icon:before {
        opacity: 1;
      }
      &__label {
        width: 50%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin-top: 16px;
        cursor: pointer;
        &__icon {
          position: relative;
          height: 20px;
          width: 20px;
          margin-right: 4px;
          font-size: 20px;
          line-height: 28px;
          color: #fff;
          border: 1px solid #ccc;
          flex-grow: 0;
          flex-shrink: 0;
          border-radius: 2px;
          &:before {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            background: #0099e8;
            border-radius: 2px;
            -webkit-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
          }
        }
        &__text {
          width: 91px;
          cursor: pointer;
        }
        &__input {
          display: none;
          &:checked + .check-icon:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

@mixin search-clear-button {
  width: 110px;
  height: 48px;
  background: #aaa;
  border: 1px solid #aaa;
  color:#fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  a:link { 
    color:white;
    text-decoration: none;
  }
  a:visited { 
    color:white;
    text-decoration: none;
  }
  a:hover { 
    color:white;
    text-decoration: none;
  }
  a:active { 
    color: none; 
  }
}
