@mixin list-none {
  height: 236px;
  background: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?17794984);
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 78px 85px;
  background-color: #fff;
  padding: 160px 0 60px;
  box-sizing: border-box;
  text-align: center;
  color: #ccc;
}
