html{
  background-color: #f5f5f5;
  main {
    margin-bottom: 40px;
    .container {
      width: 1020px;
      margin: 40px auto 0;
      .content {
        float: right;
        width: 700px;
        margin: 0;
        color: #333;
        background-color: #fff;
        h2 {
          font-size:24px;
          padding: 8px 24px;
          text-align: center;
          border-bottom: 1px solid #f5f5f5;
          font-weight: bold;
        }
        &__form {
          border-top: 1px solid #f5f5f5;
          padding: 64px;
          font-size: 14px;
          div {
            .info {
              margin: 8px 0 0;
              line-height: 1.5;
            }
            .info-icon {
              text-align: right;
              margin: 8px 0 0;
              line-height: 1.5;
              a {
                color: #0099e8;
                text-decoration: none;
              }
            }
          }
          &__list {
            .arbitrary {
              background: #ccc;
              margin: 0 0 0 8px;
              padding: 4px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            margin: 40px 0 0;
            &-normal {
              margin: 8px 0 0;
              line-height: 1;
            }
            label {
              font-weight: 600;
              line-height: 1;
            }
            input {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              border-radius: 4px;
              border: 1px solid #ccc;
              line-height: 1.5;
              text-indent: 1em;
            }
            .select__form {
              position: relative;
              select {
                width: 100%;
                margin: 8px 0 0;
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                line-height: 1.5;
                text-indent: 1em;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                cursor: pointer;
              }
              #down {
                position: absolute;
                font-size: 18px;
                right: 15px;
                top: 25px;
                color: #888;
              }
            }
          }
          .form-btn {
            margin: 40px 0 0;
            height: 48px;
            font-size: 14px;
            width: 100%;
            background-color: #e62017;
            border: 1px solid #ea352d;
            color: #fff;
          }
          &__btm {
            margin: 40px 0 0;
            text-align: right;
              a {
                color: #0099e8;
                text-decoration: none;
              }
          }
        }
        &__profile {
          &-icon {
            background: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?6612079");
            padding:72px 16px 24px;
            text-align: center;
            figure {
              display: inline-block;
              vertical-align: middle;
              margin: 0;
              line-height: 1;
              img {
                margin: 0;
                border-radius: 50%;
                width: 60px;
                height: 60px;
              }
            }
            input {
              display: inline;
              vertical-align: middle;
              width: 220px;
              margin: 0 0 0 8px;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              font-size: 16px;
              box-sizing: border-box;
            }
          }
          &-text {
            padding: 40px 16px;
            textarea {
              width: 100%;
              border: 1px solid #ccc;
              font-size: 16px;
              min-height: 216px;
              max-width: 100%;
              display: block;
              box-sizing: border-box;
              padding: 10px;
            }
            .profile-btn {
              margin: 16px 0 0;
              background-color: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
            }
          }
        }
        &__logout {
          padding: 64px;
          &-btn {
            max-width: 320px;
            margin: 0 auto;
            button {
              width: 100%;
              padding: 0;
              line-height: 48px;
              font-size: 14px;
              cursor: pointer;
              background-color: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
            }
          }
        }
        &__card {
          border-top: 1px solid #f5f5f5;
          padding: 64px;
          .content-a {
            h3 {
              font-weight: bold;
            }
            .content__card-index {
              margin: 0 auto;
              max-width: 320px;
            }
            .content__card-show {
              margin: 0 auto;
              max-width: 320px;
              ul {
                padding: 24px 0;
                position: relative;
                li {
                  figure {
                    margin: 0;
                    img {
                      width: 45px;
                      height: 20px;
                    }
                  }
                  .show-num {
                    margin: 8px 0 0;
                    font-size: 12px;
                  }
                  .show-day {
                    margin: 8px 0 0;
                    font-size: 12px;
                  }
                  .show-button {
                    position:absolute;
                    top: 20px;
                    right: 0;
                    button {
                      background: #fff;
                      border-radius: 3px;
                      border: 1px solid #ea352d;
                      color: #ea352d;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
          .content-b {
            border-bottom: 1px solid #eee;
            .content__card-btn {
              padding: 24px 0;
              max-width: 320px;
              margin: 0 auto;
              button {
                margin-bottom: 8px;
                padding: 0;
                a {
                  display: inline-block;
                  vertical-align: middle;
                }
                line-height: 48px;
                width: 100%;
                font-size: 14px;
                color: #fff;
                cursor: pointer;
                background: #ea352d;
                border: 1px solid #ea352d;
              }
            }
          }
          &-link {
            text-align: right;
            margin: 40px 0 0 0;
          a {
            text-decoration: none;
            font-size: 14px;
            line-height: 1;
            }
          }
        }
        &__input {
          line-height: 1;
          border-top: 1px solid #f5f5f5;
          padding: 64px;
          &__info {
            max-width: 320px;
            margin: 0 auto;
            label {
              font-size: 14px;
            }
            .required {
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 4px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            max-width: 320px;
            margin: 0 auto;
            }
            &-num {
              input { 
                width: 100%;
                margin: 8px 0 0;
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                line-height: 1.5;
                text-indent: 1em;
              }
              ul {
                li {
                  float: left;
                  img {
                    width: 45px;
                    height: 20px;
                    margin: 8px 0 0 0;
                  }
                }
              }
            }
            &-limit {
              margin: 80px 0 0 0;
              position: relative;
              .limit-moth {
                width: 50%;
                select {
                  width: 70%;
                  margin: 8px 0 0;
                  height: 48px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  line-height: 1.5;
                  text-indent: 1em;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  cursor: pointer;
                  background-color: #fff;
                }
                #down {
                  position: absolute;
                  font-size: 18px;
                  left: 80px;
                  line-height: 66px;
                  color: #888;
                }
                span {
                  margin: 0 8px;
                  font-size: 14px;
                }
              }
              .limit-year {
                width: 50%;
                select {
                  width: 70%;
                  margin: 8px 0 0;
                  height: 48px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  line-height: 1.5;
                  text-indent: 1em;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  cursor: pointer;
                  background-color: #fff;
                }
                #down {
                  position: absolute;
                  font-size: 18px;
                  left: 80px;
                  line-height: 66px;
                  color: #888;
                }
                span {
                  margin: 0 8px;
                  font-size: 14px;
                }
              }
            }
            &-security {
              margin: 40px 0 0 0;
              input {
                width: 100%;
                margin: 8px 0 0;
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                line-height: 1.5;
                text-indent: 1em;
              }
              .sec_info {
                margin: 8px 0 0 0;
                width: 100%;
                p {
                  text-align: right;
                  color: #0099e8;
                  font-size: 14px;
                }
              }
            }
            &-btn {
              max-width: 320px;
              margin: 40px 0 0 0;
              button {
                width: 100%;
                padding: 0;
                line-height: 48px;
                font-size: 14px;
                cursor: pointer;
                background-color: #ea352d;
                border: 1px solid #ea352d;
                color: #fff;
              }
            }
          }
        }
      }
      .side {
        width: 280px;
        margin: 0 40px 0 0;
        background-color: #fff;
        float: left;
        &__mypage {
          list-style: none;
          .side__mypage-top {
            border: 0;
          }
          li {
            border-top: 1px solid #eee;
            min-height: 48px;
            font-size: 14px;
            line-height: 48px;
            color: #333;
            text-indent: 1em;

            a {
              text-decoration: none;
              display: block;
              width: 280px;
              color: #333;
              i {
                float: right;
                line-height: 48px;
                padding-right: 16px;
                color: #ccc;
              }
            }
          }
          h3 {
            padding: 40px 0 8px;
            background-color: #f5f5f5;
            font-size: 16px;
            line-height: 1;
            font-weight: bold;
          }
        }
      }
    }
  }
}
