main {
  .container {
    .content-mypage-detail {
      width: 700px;
      margin: 40px auto;
      background-color: #fff;
      .profile-box {
        padding-top: 50px;
        background: url("https://www.mercari.com/jp/assets/img/user/user_bg.jpg?72826626");
        &__link {
          text-decoration: none;
          color: #333;
          img {
            display: block;
            margin: 0 auto;
            border-radius: 50%;
          }
          &__name {
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            margin: 8px 0 16px;
            &:hover {
              text-decoration: underline;
              text-decoration-color: #0099e8;
            }
          }
          &__number {
            height: 14px;
            padding-bottom: 30px;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            &__reviews {
              display: inline-block;
              margin-right: 14px;
            }
            &__items {
              display: inline-block;
              margin-left: 14px;
            }
          }
        }
      }
      .review-box {
        height: 50px;
        padding-top: 14px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        &__icon {
          i {
            font-size: 24px;
            float: left;
          }
          &__number {
            width: 60px;
            font-size: 16px;
            padding: 0 0 0 14px;
            margin: 0 30px 0 0;
            float: right;
            text-align: center;
          }
        }
        &__icon--good {
          i {
            color: #EE5185;
          }
        }
        &__icon--normal {
          i {
            color: #FBA832;
          }
        }
        &__icon--bad {
          i {
            color: #6AB5D7;
          }
        }
      }
      .user-introduction-box {
        height: 140px;
        box-sizing: border-box;
        padding: 30px 50px 60px;
        border-top: 2px solid #f5f5f5;
        font-size: 16px;
      }
      .social-media-box {
        padding: 56px 48px;
        box-sizing: border-box;
        &__lists {
          height: 52px;
          margin-top: 16px;
          display: flex;
          justify-content: center;
          &__icon {
            height: 44px;
            width: 44px;
            margin: 0 8px 8px 0;
            border-radius: 4px;
            i {
              position: absolute;
              top: 50%;
              right: 50%;
              transform: translate(50%, -50%);
            }
          }
          &__icon--facebook {
            background-color: #375185;
            position: relative;
            i {
              color: white;
              font-size: 32px;
            }
          }
          &__icon--twitter {
            background-color: #5d9dc9;
            position: relative;
            i {
              color: white;
              font-size: 32px;
            }
          }
          &__icon--line {
            position: relative;
            i {
              color: #00c137;
              font-size: 51px;
            }
          }
        }
      }
      .item-box-container {
        .item-box-head {
          font-size: 22px;
          margin: 24px 0 8px;
          font-weight: 700;
          color: #333;
        }
        .item-box-content {
          display: flex;
          flex-wrap: wrap;
          .item-box {
            height: 330px;
            width: 220px;
            margin: 0 0 20px 20px;
            &__link {
              text-decoration: none;
              color: #333;
              &__photo {
                margin: 0;
                img {
                  height: 220px;
                  width: 220px;
                  object-fit: cover;
                }
              }
              &__body {
                height: 110px;
                width: 220px;
                padding: 16px;
                box-sizing: border-box;
                &__name {
                  font-size: 16px;
                }
                &__number {
                  display: flex;
                  height: 16px;
                  margin-top: 8px;
                  line-height: 16px;
                  &__price {
                    margin-right: auto;
                    font-weight: bold;
                  }
                  i {
                    color: #ccc;
                    margin-right: 2px;
                  }
                }
                &__tax {
                  font-size: 10px;
                }
              }
            }
            &:nth-of-type(3n + 1) {
              margin: 0 0 20px 0;
            }
          }
        }
      }
    }
  }
}
