.nav  {
  z-index: 1000;
  li {
    h3 {
      font-weight: 400;
      font-size: 14px;
      width: 224px;
      line-height: 44px;
      background: #fff;
      text-indent: 1em;
      a {
        text-decoration: none;
      }
    }
    ul {
      position: absolute;
      top: 44px;
      left: 224px;
      bottom: 0;
      background: #fff;
      li {
        ul {
          top: 0px;
        }
      }
    }
  }
}