.nav  {
  z-index: 3;
  height: 400px;
  width: 224px;
  background: #fff;
  
  &-box {
    a {
      i {
        color: red;
      }
    }
  }
  li {
    text-indent: 1em;
    h3 {
      font-weight: 400;
      font-size: 14px;
      width: 240px;
      line-height: 44px;
      background: #fff;
      border-right: #eee;
      
      a {
        text-decoration: none;
      }
    a:link { 
      color: black;
    }

    a:visited { 
      color: black; 
    }

    a:hover { 
      display: block;
      color: white;
      background-color: #ea352d;
    }
    }
    ul {
      position: absolute;
      top: 44px;
      left: 224px;
      background: #fff;
      height: 615px;
      
      li {
        padding-top:0;
        padding-bottom:10px;
        height: 24px;
        
        a:hover { 
          display: block;
          color: black; 
          background-color: #eee;
        }
        
        ul {
          top: 0px;
        }
      }
    }
  }
}