* {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
* {
    font-size: inherit;
    line-height: inherit;
}
*, ::before, ::after {
    border-style: solid;
    border-width: 0;
}

body {
    position: relative;
    min-height: 100%;
    background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1;
}
main{
    display: block;
}
header {
    display: block;
}
div {
    display: block;
}
nav {
    display: block;
}
::selection {
    background-color: #b3d4fc;
    color: #fff;
    text-shadow: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration:none;
    
}
nav ol, nav ul {
    list-style: none;
}

.single__header {
    height: 128px;
    display: block;
    text-align: center;
     a{
    display: inline-block;
    width: 185px;
    height: 49px;
    line-height: 49px;
    
    }
    h1{
    display: inline-block;
    margin-top: 40px;
}
    .img__single__header{
    width: 185px;
    height: 49px;
    vertical-align: middle;
    }
}

.l__single__head{
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    display: block;
    font-weight: bold;
}

.l__signle__container {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    .l__single__inner {
        padding: 64px;
        border-top: 1px solid #f5f5f5;
      .l__single__content{
    max-width: 320px;
    margin: 0 auto;
            }
            a {
                color:black;
            }
      }
        }


.btn-mail {
    position: relative;
    background: #eee;
    color:inherit;
    }
.fa-envelope:before {
    content: '\e01c';
}
.btn-sns-facebook {
    margin: 16px 0 0;
    background: #385185;
    color: #fff;
}
.icon-facebook:before {
    content: '\e013';
}

.btn-sns {
    position: relative;
}
.fa-facebook-square {
    color: #fff;
    background: #385185;
    font-size: 30px;
}
.btn-sns i {
    position: absolute;
    top: 50%;
    left: 16px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.btn-mail .icon-mail {
    position: absolute;
    top: 50%;
    left: 16px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #ccc;
    font-size: 16px;
        }
.btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
 }
 .btn-sns-google {
    margin: 16px 0 0;
    background: #fff url('/images/Google.svg') no-repeat 3px top;
    border: #979797 solid 1px;
    color: #333;
}
.good-svg{
 position: relative;
  width: 20px;
  height: 20px;
  display:block;
    color: #333;
}
 button {
    -webkit-appearance: button;
    overflow: visible;
}
i[class^='icon-'], i[class*='icon-'] {
    display: inline-block;
    font-family: 'icon-font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.single-footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
}
.single-footer {

    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    
    ul {

    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    list-style: none;
    li {
  display: inline-block;
  width: 32%;
  font-size:12px;
}
.single-footer-logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
}

}
a {
    display: block;
    color: #333;
}
p{
    margin-top:8px;
    small{
        font-size: 13px;
    }
}
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.single-footer-logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
}